.posts {
 display:grid;
 grid-template-areas: 
 'new new'
 'item item';
 grid-template-columns: 1fr;
 grid-template-rows:1fr 1fr;
 grid-area:posts;
}


.new {

 grid-area:new;

 display: flex;
 flex-direction: column;
 align-items: flex-start;
}

.text {
box-sizing: border-box;
width: 100%;
border: 2px solid rgb(29, 175, 29);
background-color: rgba(162, 191, 230, 0.658) ;
border-radius: 10px;
resize: none;
outline: none;
font-size: 16px;
height: 100px;
margin-top: 5px;
padding: 5px;
}

.text::-webkit-resizer {
 display: none;
}

.btn {
 cursor: pointer;
 background-color: rgb(23, 172, 102);
 font-size: 20px;
 padding:5px;
 margin-left: 10px;
 border: 2px solid green;
 border-radius: 10px;
 margin-top: 8px;
 color: #fff;
 outline:none;
}

