.item {
 display: flex;

 align-items: flex-start;
 margin-left: 8px;
 margin-bottom: 8px;
 border-radius: 15px;
 background-color: rgba(8, 120, 148, 0.244);
 padding:8px;
}

.avatar {
 width: 80px;
 height: 80px;
 border-radius: 50%;
}

.name {
 
 font-size: 20px;
 background-color: rgba(8, 120, 148, 0.244);
 border-radius: 10px;
 text-align: center;
 margin-top: 5px;
 margin-bottom: 0px;

}

.text {
 background-color: rgb(222, 244, 245);
 border-radius:15px;
 width: 100%;
 margin-left: 20px;
 min-height: 115px;
 padding:10px;
 box-sizing: border-box;
font-size: 20px;

}