.item {
 box-sizing: border-box;
 grid-area:item;
 display: flex;

 min-height: 100px;
 background-color: rgb(23, 172, 102);
 border-radius: 15px;
 margin-top: 5px;
 padding:10px;
}

.item__avatar {
 width:100px;
 height: 100px;

 border-radius:50%;
 margin-right: 20px;
 margin-top: 10px;

}

.block_message{
 border-radius:10px;
 background-color: ;
 color: #fff;
 display: flex;
 flex-direction: column;
 width: 100%
}

.name {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}



.like {
 
 display: block;
 position: relative;
 padding-left: 30px;
}

.like::before {
 left: 0;
 content: "";
 width: 20px;
 height: 20px;
 position: absolute;
 background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/13/Facebook_like_thumb.png');
 background-size: cover;
 background-position: center;
}