
.app_wrapper {
  display: grid;

  grid-template-areas:

  "header header"
  "navbar profile";

  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-gap: 5px;

  height: 100vh;
  width: 1200px; 
  margin: 0 auto;

}

.app_wrapper__content {

  background-color: rgba(8, 120, 148, 0.244);
  border-radius: 20px;
}